#include "rc.h"
WAICON ICON "wa.ico"
HELPPAGE TEXT "a.txt"
MAINMENU MENU{
    POPUP "File(&F)"{
        MENUITEM "FIle Open(&O)",FILEOPEN
        MENUITEM "File Save(&S)",FILESAVE
    }
    POPUP "Setting(&S)"{
        MENUITEM "Open setting window(&O)",OPENSETTING
    }
    POPUP "Help(&H)"{
        MENUITEM "Show Help(&S)",SHOWHELP
    }
}